body {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: large;
  background-image: url(img/bg.webp);
}

.player1, .player2, #player1-form, #player2-form, .results{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
  }
  
  .player1, .player2, .results{
  background-color: #f5f5dcbb;
}

.inputName {
    padding: 10px;
    border-radius: 15px;
    border: 1px solid black;
    background-color: #f5f5dcbb;
}

.inputName:focus{
  background-color: #f8f8f0f3;
}

.alertChoice, .alertName{
  font-size: 12px;
  color: red;
  margin-bottom: 20px;
}

.radioDiv {
  display: flex;
  align-items: center;
}
.input-radio {
  display: none;
}
.input-label-radio {
    cursor: pointer;
    margin-right: 10px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 15px;
    line-height: 100%;
    color: white;
    background-color: black;
}

.input-label-radio.disabled {
    color: white;
    background-color: grey;
    border: 1px solid grey;
}

.input-label-radio.disabled:hover {
    color: white;
    background-color: black;
    cursor: pointer;
}

.btn-style{
    padding: 10px;
    border: none;
    border-radius: 15px;
    background-color: #468cdb;
    color: #fff;
    cursor: pointer;
    font-size: large;
}

p{
  margin-bottom: 13px;
  margin-top: 2px;

}
.player2,
.results {
  display: none;
}
